@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9FCFE;
  --foreground: #171717;
  --violet: #8A30E5;
  --yellow: #FFC14E;
  --green: #06C270;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inter-class {
  font-family: var(--inter-font);
}

.dmSans-class {
  font-family: var(--dm-sans-font);
}